*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
}
.main-left{
    width: 20%;
    height: 100vh;
    /*background: rgba(53,53,53,53);*/
    border: thin solid gray;
    border-bottom: none;
    border-top: none;
}
.main-right{
    width: 80%;
    height: 100vh;
}
.main-left__top{
    width: 100%;
    height: 10vh;
    border-bottom: thin solid gray;  
}
.list-left__user{
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
}
.list-left__user::-webkit-scrollbar{
    opacity: 0;
}
.list-left__user::-webkit-scrollbar :hover{
    opacity: 1;
}
.count-user{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: darkcyan;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}
.login{
    width: 100vw;
    height: 100vh;
    background: rgba(53, 53, 53, 53);
}
.input-group {
    width: 30%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content-login{
    width: 20%;
    height: 5%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}
.main-right > .form-title{
    width: 100vw;
    height: 10vh;
    background: #007bff;
}
/* form chat*/
.main-right > .form-chat{
    width: 100vw;
    height: 80vh;
    background:whitesmoke;
    overflow-y: scroll;
}
.form-chat > .message-name{
    width: 60%;
    position: relative;
    height: auto;
    margin: 10px 30px;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 10px;
}

.message > .message-name,
.message-rep > .message-name {
    font-size: 20px;
    font-weight: bold;
}

.flexbox,
.flexbox-reverse {
    width: 80%;
    height: auto;
    display: flex;
    
}

.flexbox {
    flex-direction: row;
}

.flexbox-reverse {
    flex-direction: row-reverse;
}

.flexbox > .message {
    margin: 1%;
    padding: 20px;
    width: 50%;
    background: aquamarine;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.flexbox-reverse > .message-rep {
    margin: 1%;
    padding: 20px;
    width: 50%;
    background: khaki;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
}
/* end form chat*/
/* input */
.main-right > .form-input{
    top: 0px;
    widows: 100vw;
    height: 10vh;
    background: white;
}
.input-group {
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
}
.form-control {
    height: 100%;
}
.input-group-append {
    width: 10%;
}
.btn {
    width: 100%;
}
/*end input*/
